<table border="1"><tr><th>meta</th><td><table border="1"><tr><th>activity_id</th><td>56f8786865b80c023f598b56</td>
</tr><tr><th>application_mode</th><td>production</td></tr><tr><th>processing_time</th><td>297</td></tr><tr><th>cre
dits_billed</th><td>0</td></tr><tr><th>rate_limit_amount</th><td>2</td></tr><tr><th>rate_limit_reset</th><td>14591
27103</td></tr><tr><th>rate_limit_cap</th><td>5000</td></tr><tr><th>credits_remaining</th><td>125</td></tr></table
></td></tr><tr><th>data</th><td><table border="1"><tr><th>service_type_codes</th><td><ul><li>98</li><li>30</li></u
l></td></tr><tr><th>service_types</th><td><ul><li>professional_physician_visit_office</li><li>health_benefit_plan_
coverage</li></ul></td></tr><tr><th>client_id</th><td>uXEDs08GoIPr8uSju26s</td></tr><tr><th>payer</th><td><table b
order="1"><tr><th>id</th><td>MOCKPAYER</td></tr><tr><th>name</th><td>MOCK PAYER INC</td></tr></table></td></tr><tr
><th>originating_company_id</th><td>1453915417</td></tr><tr><th>summary</th><td><table border="1"><tr><th>deductib
le</th><td><table border="1"><tr><th>individual</th><td><table border="1"><tr><th>in_network</th><td><table border
="1"><tr><th>applied</th><td><table border="1"><tr><th>currency</th><td>USD</td></tr><tr><th>amount</th><td>16.43<
/td></tr></table></td></tr><tr><th>limit</th><td><table border="1"><tr><th>currency</th><td>USD</td></tr><tr><th>a
mount</th><td>3000</td></tr></table></td></tr><tr><th>remaining</th><td><table border="1"><tr><th>currency</th><td
>USD</td></tr><tr><th>amount</th><td>2983.57</td></tr></table></td></tr></table></td></tr><tr><th>out_of_network</
th><td><table border="1"><tr><th>applied</th><td><table border="1"><tr><th>currency</th><td>USD</td></tr><tr><th>a
mount</th><td>16.43</td></tr></table></td></tr><tr><th>limit</th><td><table border="1"><tr><th>currency</th><td>US
D</td></tr><tr><th>amount</th><td>6000</td></tr></table></td></tr><tr><th>remaining</th><td><table border="1"><tr>
<th>currency</th><td>USD</td></tr><tr><th>amount</th><td>5983.57</td></tr></table></td></tr></table></td></tr></ta
ble></td></tr><tr><th>family</th><td><table border="1"><tr><th>in_network</th><td><table border="1"><tr><th>applie
d</th><td><table border="1"><tr><th>currency</th><td>USD</td></tr><tr><th>amount</th><td>43.91</td></tr></table></
td></tr><tr><th>limit</th><td><table border="1"><tr><th>currency</th><td>USD</td></tr><tr><th>amount</th><td>6000<
/td></tr></table></td></tr><tr><th>remaining</th><td><table border="1"><tr><th>currency</th><td>USD</td></tr><tr><
th>amount</th><td>5956.09</td></tr></table></td></tr></table></td></tr><tr><th>out_of_network</th><td><table borde
r="1"><tr><th>applied</th><td><table border="1"><tr><th>currency</th><td>USD</td></tr><tr><th>amount</th><td>43.91
</td></tr></table></td></tr><tr><th>limit</th><td><table border="1"><tr><th>currency</th><td>USD</td></tr><tr><th>
amount</th><td>12000</td></tr></table></td></tr><tr><th>remaining</th><td><table border="1"><tr><th>currency</th><
td>USD</td></tr><tr><th>amount</th><td>11956.09</td></tr></table></td></tr></table></td></tr></table></td></tr></t
able></td></tr><tr><th>out_of_pocket</th><td><table border="1"><tr><th>individual</th><td><table border="1"><tr><t
h>in_network</th><td><table border="1"><tr><th>applied</th><td><table border="1"><tr><th>currency</th><td>USD</td>
</tr><tr><th>amount</th><td>16.43</td></tr></table></td></tr><tr><th>limit</th><td><table border="1"><tr><th>curre
ncy</th><td>USD</td></tr><tr><th>amount</th><td>3000</td></tr></table></td></tr><tr><th>remaining</th><td><table b
order="1"><tr><th>currency</th><td>USD</td></tr><tr><th>amount</th><td>2983.57</td></tr></table></td></tr></table>
</td></tr><tr><th>out_of_network</th><td><table border="1"><tr><th>applied</th><td><table border="1"><tr><th>curre
ncy</th><td>USD</td></tr><tr><th>amount</th><td>16.43</td></tr></table></td></tr><tr><th>limit</th><td><table bord
er="1"><tr><th>currency</th><td>USD</td></tr><tr><th>amount</th><td>12500</td></tr></table></td></tr><tr><th>remai
ning</th><td><table border="1"><tr><th>currency</th><td>USD</td></tr><tr><th>amount</th><td>12483.57</td></tr></ta
ble></td></tr></table></td></tr></table></td></tr><tr><th>family</th><td><table border="1"><tr><th>in_network</th>
<td><table border="1"><tr><th>applied</th><td><table border="1"><tr><th>currency</th><td>USD</td></tr><tr><th>amou
nt</th><td>43.91</td></tr></table></td></tr><tr><th>limit</th><td><table border="1"><tr><th>currency</th><td>USD</
td></tr><tr><th>amount</th><td>6000</td></tr></table></td></tr><tr><th>remaining</th><td><table border="1"><tr><th
>currency</th><td>USD</td></tr><tr><th>amount</th><td>5956.09</td></tr></table></td></tr></table></td></tr><tr><th
>out_of_network</th><td><table border="1"><tr><th>applied</th><td><table border="1"><tr><th>currency</th><td>USD</
td></tr><tr><th>amount</th><td>43.91</td></tr></table></td></tr><tr><th>limit</th><td><table border="1"><tr><th>cu
rrency</th><td>USD</td></tr><tr><th>amount</th><td>25000</td></tr></table></td></tr><tr><th>remaining</th><td><tab
le border="1"><tr><th>currency</th><td>USD</td></tr><tr><th>amount</th><td>24956.09</td></tr></table></td></tr></t
able></td></tr></table></td></tr></table></td></tr></table></td></tr><tr><th>subscriber</th><td><table border="1">
<tr><th>first_name</th><td>Jane</td></tr><tr><th>last_name</th><td>Doe</td></tr><tr><th>gender</th><td>male</td></
tr><tr><th>address</th><td><table border="1"><tr><th>city</th><td>SPARTANBURG</td></tr><tr><th>state</th><td>SC</t
d></tr><tr><th>zipcode</th><td>29307</td></tr><tr><th>address_lines</th><td><ul><li>123 MAIN ST</li></ul></td></tr
></table></td></tr><tr><th>birth_date</th><td>1970-01-01</td></tr><tr><th>id</th><td>W000000000</td></tr></table><
/td></tr><tr><th>correlation_id</th><td>c67db6fa-9b12-4f03-94ef-54d7ead15e59</td></tr><tr><th>trading_partner_id</
th><td>MOCKPAYER</td></tr><tr><th>provider</th><td><table border="1"><tr><th>first_name</th><td>JEROME</td></tr><t
r><th>last_name</th><td>AYA-AY</td></tr><tr><th>npi</th><td>1467560003</td></tr></table></td></tr><tr><th>coverage
</th><td><table border="1"><tr><th>limitations</th><td><ul><li><table border="1"><tr><th>service_type_codes</th><t
d><ul><li>30</li></ul></td></tr><tr><th>benefit_amount</th><td><table border="1"><tr><th>currency</th><td>USD</td>
</tr><tr><th>amount</th><td>0</td></tr></table></td></tr><tr><th>coverage_level</th><td>employee_and_spouse</td></
tr><tr><th>messages</th><td><ul><li><table border="1"><tr><th>message</th><td>Unlimited Lifetime Benefits</td></tr
></table></li></ul></td></tr><tr><th>service_types</th><td><ul><li>health_benefit_plan_coverage</li></ul></td></tr
></table></li><li><table border="1"><tr><th>service_type_codes</th><td><ul><li>98</li></ul></td></tr><tr><th>servi
ce_types</th><td><ul><li>professional_physician_visit_office</li></ul></td></tr><tr><th>messages</th><td><ul><li><
table border="1"><tr><th>message</th><td>Plan Requires PreCert</td></tr></table></li></ul></td></tr><tr><th>in_pla
n_network</th><td>not_applicable</td></tr><tr><th>benefit_amount</th><td><table border="1"><tr><th>currency</th><t
d>USD</td></tr><tr><th>amount</th><td>0</td></tr></table></td></tr><tr><th>coverage_level</th><td>employee_and_spo
use</td></tr></table></li><li><table border="1"><tr><th>service_type_codes</th><td><ul><li>98</li></ul></td></tr><
tr><th>benefit_amount</th><td><table border="1"><tr><th>currency</th><td>USD</td></tr><tr><th>amount</th><td>0</td
></tr></table></td></tr><tr><th>coverage_level</th><td>employee_and_spouse</td></tr><tr><th>messages</th><td><tabl
e border="1"><tr><th>message</th></tr><tr><td>Commercial</td></tr><tr><td>Plan includes NAP</td></tr><tr><td>Pre-E
xisting may apply</td></tr></table></td></tr><tr><th>service_types</th><td><ul><li>professional_physician_visit_of
fice</li></ul></td></tr></table></li></ul></td></tr><tr><th>service_type_codes</th><td><ul><li>98</li></ul></td></
tr><tr><th>service_types</th><td><ul><li>professional_physician_visit_office</li></ul></td></tr><tr><th>group_numb
er</th><td>088818801000013</td></tr><tr><th>out_of_pocket</th><td><ul><li><table border="1"><tr><th>in_plan_networ
k</th><td>yes</td></tr><tr><th>benefit_amount</th><td><table border="1"><tr><th>currency</th><td>USD</td></tr><tr>
<th>amount</th><td>3000</td></tr></table></td></tr><tr><th>coverage_level</th><td>individual</td></tr><tr><th>serv
ice_types</th><td><ul><li>health_benefit_plan_coverage</li></ul></td></tr><tr><th>service_type_codes</th><td><ul><
li>30</li></ul></td></tr></table></li><li><table border="1"><tr><th>service_type_codes</th><td><ul><li>30</li></ul
></td></tr><tr><th>service_types</th><td><ul><li>health_benefit_plan_coverage</li></ul></td></tr><tr><th>in_plan_n
etwork</th><td>yes</td></tr><tr><th>time_period</th><td>remaining</td></tr><tr><th>coverage_level</th><td>individu
al</td></tr><tr><th>benefit_amount</th><td><table border="1"><tr><th>currency</th><td>USD</td></tr><tr><th>amount<
/th><td>2983.57</td></tr></table></td></tr></table></li><li><table border="1"><tr><th>in_plan_network</th><td>yes<
/td></tr><tr><th>benefit_amount</th><td><table border="1"><tr><th>currency</th><td>USD</td></tr><tr><th>amount</th
><td>6000</td></tr></table></td></tr><tr><th>coverage_level</th><td>family</td></tr><tr><th>service_types</th><td>
<ul><li>health_benefit_plan_coverage</li></ul></td></tr><tr><th>service_type_codes</th><td><ul><li>30</li></ul></t
d></tr></table></li><li><table border="1"><tr><th>service_type_codes</th><td><ul><li>30</li></ul></td></tr><tr><th
>service_types</th><td><ul><li>health_benefit_plan_coverage</li></ul></td></tr><tr><th>in_plan_network</th><td>yes
</td></tr><tr><th>time_period</th><td>remaining</td></tr><tr><th>coverage_level</th><td>family</td></tr><tr><th>be
nefit_amount</th><td><table border="1"><tr><th>currency</th><td>USD</td></tr><tr><th>amount</th><td>5956.09</td></
tr></table></td></tr></table></li><li><table border="1"><tr><th>in_plan_network</th><td>no</td></tr><tr><th>benefi
t_amount</th><td><table border="1"><tr><th>currency</th><td>USD</td></tr><tr><th>amount</th><td>12500</td></tr></t
able></td></tr><tr><th>coverage_level</th><td>individual</td></tr><tr><th>service_types</th><td><ul><li>health_ben
efit_plan_coverage</li></ul></td></tr><tr><th>service_type_codes</th><td><ul><li>30</li></ul></td></tr></table></l
i><li><table border="1"><tr><th>service_type_codes</th><td><ul><li>30</li></ul></td></tr><tr><th>service_types</th
><td><ul><li>health_benefit_plan_coverage</li></ul></td></tr><tr><th>in_plan_network</th><td>no</td></tr><tr><th>t
ime_period</th><td>remaining</td></tr><tr><th>coverage_level</th><td>individual</td></tr><tr><th>benefit_amount</t
h><td><table border="1"><tr><th>currency</th><td>USD</td></tr><tr><th>amount</th><td>12483.57</td></tr></table></t
d></tr></table></li><li><table border="1"><tr><th>in_plan_network</th><td>no</td></tr><tr><th>benefit_amount</th><
td><table border="1"><tr><th>currency</th><td>USD</td></tr><tr><th>amount</th><td>25000</td></tr></table></td></tr
><tr><th>coverage_level</th><td>family</td></tr><tr><th>service_types</th><td><ul><li>health_benefit_plan_coverage
</li></ul></td></tr><tr><th>service_type_codes</th><td><ul><li>30</li></ul></td></tr></table></li><li><table borde
r="1"><tr><th>service_type_codes</th><td><ul><li>30</li></ul></td></tr><tr><th>service_types</th><td><ul><li>healt
h_benefit_plan_coverage</li></ul></td></tr><tr><th>in_plan_network</th><td>no</td></tr><tr><th>time_period</th><td
>remaining</td></tr><tr><th>coverage_level</th><td>family</td></tr><tr><th>benefit_amount</th><td><table border="1
"><tr><th>currency</th><td>USD</td></tr><tr><th>amount</th><td>24956.09</td></tr></table></td></tr></table></li></
ul></td></tr><tr><th>insurance_type</th><td>ppo</td></tr><tr><th>contacts</th><td><ul><li><table border="1"><tr><t
h>contact_type</th><td>payer</td></tr><tr><th>name</th><td>Aetna</td></tr><tr><th>address</th><td><table border="1
"><tr><th>city</th><td>Lexington</td></tr><tr><th>state</th><td>KY</td></tr><tr><th>zipcode</th><td>40512</td></tr
><tr><th>address_lines</th><td><ul><li>PO Box 14079</li></ul></td></tr></table></td></tr></table></li></ul></td></
tr><tr><th>copay</th><td><table border="1"><tr><th>service_type_codes</th><th>service_types</th><th>copayment</th>
<th>messages</th><th>in_plan_network</th><th>coverage_level</th></tr><tr><td><ul><li>98</li></ul></td><td><ul><li>
professional_physician_visit_office</li></ul></td><td><table border="1"><tr><th>currency</th><td>USD</td></tr><tr>
<th>amount</th><td>20</td></tr></table></td><td><ul><li><table border="1"><tr><th>message</th><td>PRIMARY OFFICE</
td></tr></table></li></ul></td><td>yes</td><td>employee_and_spouse</td></tr><tr><td><ul><li>98</li></ul></td><td><
ul><li>professional_physician_visit_office</li></ul></td><td><table border="1"><tr><th>currency</th><td>USD</td></
tr><tr><th>amount</th><td>30</td></tr></table></td><td><ul><li><table border="1"><tr><th>message</th><td>GYN OFFIC
E VS</td></tr></table></li><li><table border="1"><tr><th>message</th><td>GYN VISIT</td></tr></table></li><li><tabl
e border="1"><tr><th>message</th><td>SPEC OFFICE</td></tr></table></li><li><table border="1"><tr><th>message</th><
td>SPEC VISIT</td></tr></table></li><li><table border="1"><tr><th>message</th><td>PRIME CARE VST</td></tr></table>
</li></ul></td><td>not_applicable</td><td>employee_and_spouse</td></tr></table></td></tr><tr><th>plan_description<
/th><td>Open Choice</td></tr><tr><th>deductibles</th><td><ul><li><table border="1"><tr><th>service_type_codes</th>
<td><ul><li>30</li></ul></td></tr><tr><th>service_types</th><td><ul><li>health_benefit_plan_coverage</li></ul></td
></tr><tr><th>messages</th><td><ul><li><table border="1"><tr><th>message</th><td>INT MED AND RX,GYN OFFICE VS,DED 
INCLUDED IN OOP,GYN VISIT,SPEC OFFICE,SPEC VISIT,PRIMARY OFFICE,PRIME CARE VST</td></tr></table></li></ul></td></t
r><tr><th>in_plan_network</th><td>yes</td></tr><tr><th>eligibility_date</th><td>2013-01-01</td></tr><tr><th>time_p
eriod</th><td>calendar_year</td></tr><tr><th>coverage_level</th><td>family</td></tr><tr><th>benefit_amount</th><td
><table border="1"><tr><th>currency</th><td>USD</td></tr><tr><th>amount</th><td>6000</td></tr></table></td></tr></
table></li><li><table border="1"><tr><th>service_type_codes</th><td><ul><li>30</li></ul></td></tr><tr><th>service_
types</th><td><ul><li>health_benefit_plan_coverage</li></ul></td></tr><tr><th>messages</th><td><ul><li><table bord
er="1"><tr><th>message</th><td>INT MED AND RX</td></tr></table></li></ul></td></tr><tr><th>in_plan_network</th><td
>yes</td></tr><tr><th>time_period</th><td>remaining</td></tr><tr><th>coverage_level</th><td>family</td></tr><tr><t
h>benefit_amount</th><td><table border="1"><tr><th>currency</th><td>USD</td></tr><tr><th>amount</th><td>5956.09</t
d></tr></table></td></tr></table></li><li><table border="1"><tr><th>service_type_codes</th><td><ul><li>30</li></ul
></td></tr><tr><th>service_types</th><td><ul><li>health_benefit_plan_coverage</li></ul></td></tr><tr><th>messages<
/th><td><ul><li><table border="1"><tr><th>message</th><td>INT MED AND RX,GYN OFFICE VS,DED INCLUDED IN OOP,GYN VIS
IT,SPEC OFFICE,SPEC VISIT,PRIMARY OFFICE,PRIME CARE VST</td></tr></table></li></ul></td></tr><tr><th>in_plan_netwo
rk</th><td>yes</td></tr><tr><th>eligibility_date</th><td>2013-01-01</td></tr><tr><th>time_period</th><td>calendar_
year</td></tr><tr><th>coverage_level</th><td>individual</td></tr><tr><th>benefit_amount</th><td><table border="1">
<tr><th>currency</th><td>USD</td></tr><tr><th>amount</th><td>3000</td></tr></table></td></tr></table></li><li><tab
le border="1"><tr><th>service_type_codes</th><td><ul><li>30</li></ul></td></tr><tr><th>service_types</th><td><ul><
li>health_benefit_plan_coverage</li></ul></td></tr><tr><th>messages</th><td><ul><li><table border="1"><tr><th>mess
age</th><td>INT MED AND RX</td></tr></table></li></ul></td></tr><tr><th>in_plan_network</th><td>yes</td></tr><tr><
th>time_period</th><td>remaining</td></tr><tr><th>coverage_level</th><td>individual</td></tr><tr><th>benefit_amoun
t</th><td><table border="1"><tr><th>currency</th><td>USD</td></tr><tr><th>amount</th><td>2983.57</td></tr></table>
</td></tr></table></li><li><table border="1"><tr><th>service_type_codes</th><td><ul><li>30</li></ul></td></tr><tr>
<th>service_types</th><td><ul><li>health_benefit_plan_coverage</li></ul></td></tr><tr><th>messages</th><td><ul><li
><table border="1"><tr><th>message</th><td>INT MED AND RX,GYN OFFICE VS,DED INCLUDED IN OOP,GYN VISIT,SPEC OFFICE,
SPEC VISIT,PRIME CARE VST</td></tr></table></li></ul></td></tr><tr><th>in_plan_network</th><td>no</td></tr><tr><th
>eligibility_date</th><td>2013-01-01</td></tr><tr><th>time_period</th><td>calendar_year</td></tr><tr><th>coverage_
level</th><td>family</td></tr><tr><th>benefit_amount</th><td><table border="1"><tr><th>currency</th><td>USD</td></
tr><tr><th>amount</th><td>12000</td></tr></table></td></tr></table></li><li><table border="1"><tr><th>service_type
_codes</th><td><ul><li>30</li></ul></td></tr><tr><th>service_types</th><td><ul><li>health_benefit_plan_coverage</l
i></ul></td></tr><tr><th>messages</th><td><ul><li><table border="1"><tr><th>message</th><td>INT MED AND RX</td></t
r></table></li></ul></td></tr><tr><th>in_plan_network</th><td>no</td></tr><tr><th>time_period</th><td>remaining</t
d></tr><tr><th>coverage_level</th><td>family</td></tr><tr><th>benefit_amount</th><td><table border="1"><tr><th>cur
rency</th><td>USD</td></tr><tr><th>amount</th><td>11956.09</td></tr></table></td></tr></table></li><li><table bord
er="1"><tr><th>service_type_codes</th><td><ul><li>30</li></ul></td></tr><tr><th>service_types</th><td><ul><li>heal
th_benefit_plan_coverage</li></ul></td></tr><tr><th>messages</th><td><ul><li><table border="1"><tr><th>message</th
><td>INT MED AND RX,GYN OFFICE VS,DED INCLUDED IN OOP,GYN VISIT,SPEC OFFICE,SPEC VISIT,PRIME CARE VST</td></tr></t
able></li></ul></td></tr><tr><th>in_plan_network</th><td>no</td></tr><tr><th>eligibility_date</th><td>2013-01-01</
td></tr><tr><th>time_period</th><td>calendar_year</td></tr><tr><th>coverage_level</th><td>individual</td></tr><tr>
<th>benefit_amount</th><td><table border="1"><tr><th>currency</th><td>USD</td></tr><tr><th>amount</th><td>6000</td
></tr></table></td></tr></table></li><li><table border="1"><tr><th>service_type_codes</th><td><ul><li>30</li></ul>
</td></tr><tr><th>service_types</th><td><ul><li>health_benefit_plan_coverage</li></ul></td></tr><tr><th>messages</
th><td><ul><li><table border="1"><tr><th>message</th><td>INT MED AND RX</td></tr></table></li></ul></td></tr><tr><
th>in_plan_network</th><td>no</td></tr><tr><th>time_period</th><td>remaining</td></tr><tr><th>coverage_level</th><
td>individual</td></tr><tr><th>benefit_amount</th><td><table border="1"><tr><th>currency</th><td>USD</td></tr><tr>
<th>amount</th><td>5983.57</td></tr></table></td></tr></table></li></ul></td></tr><tr><th>plan_begin_date</th><td>
2013-02-15</td></tr><tr><th>eligibility_begin_date</th><td>2012-02-01</td></tr><tr><th>active</th><td>True</td></t
r><tr><th>coinsurance</th><td><table border="1"><tr><th>service_type_codes</th><th>service_types</th><th>benefit_p
ercent</th><th>messages</th><th>in_plan_network</th><th>coverage_level</th></tr><tr><td><ul><li>98</li></ul></td><
td><ul><li>professional_physician_visit_office</li></ul></td><td>0.0</td><td><ul><li><table border="1"><tr><th>mes
sage</th><td>GYN OFFICE VS</td></tr></table></li><li><table border="1"><tr><th>message</th><td>GYN VISIT</td></tr>
</table></li><li><table border="1"><tr><th>message</th><td>SPEC OFFICE</td></tr></table></li><li><table border="1"
><tr><th>message</th><td>SPEC VISIT</td></tr></table></li><li><table border="1"><tr><th>message</th><td>PRIMARY OF
FICE</td></tr></table></li><li><table border="1"><tr><th>message</th><td>PRIME CARE VST</td></tr></table></li></ul
></td><td>yes</td><td>employee_and_spouse</td></tr><tr><td><ul><li>98</li></ul></td><td><ul><li>professional_physi
cian_visit_office</li></ul></td><td>0.5</td><td><ul><li><table border="1"><tr><th>message</th><td>GYN OFFICE VS,CO
INS APPLIES TO OUT OF POCKET</td></tr></table></li><li><table border="1"><tr><th>message</th><td>GYN VISIT,COINS A
PPLIES TO OUT OF POCKET</td></tr></table></li><li><table border="1"><tr><th>message</th><td>SPEC OFFICE,COINS APPL
IES TO OUT OF POCKET</td></tr></table></li><li><table border="1"><tr><th>message</th><td>SPEC VISIT,COINS APPLIES 
TO OUT OF POCKET</td></tr></table></li><li><table border="1"><tr><th>message</th><td>PRIME CARE VST,COINS APPLIES 
TO OUT OF POCKET</td></tr></table></li></ul></td><td>no</td><td>employee_and_spouse</td></tr></table></td></tr><tr
><th>group_description</th><td>MOCK INDIVIDUAL ADVANTAGE PLAN</td></tr><tr><th>plan_number</th><td>0888188</td></t
r><tr><th>service_date</th><td>2013-08-10</td></tr><tr><th>level</th><td>employee_and_spouse</td></tr></table></td
></tr><tr><th>trace_number</th><td>1</td></tr><tr><th>pharmacy</th><td><table border="1"><tr><th>is_eligible</th><
td>False</td></tr></table></td></tr><tr><th>valid_request</th><td>True</td></tr></table></td></tr></table>